<div class="welcome">
  <h1>Welcome to <%= "<" %>%= Amber.settings.name %>!</h1>
  <p>Your Amber V2 beta web application is running.</p>
  <ul>
    <li>Edit <code>src/views/home/index.ecr</code></li>
    <li>Add routes in <code>config/routes.cr</code></li>
    <li>Run <code>crystal spec</code> before committing</li>
  </ul>
</div>
