name: <%= @name %>

server:
  host: 127.0.0.1
  port: 3000
  secret_key_base: <%= Random::Secure.hex(32) %>

database:
<% case @database
when "mysql" -%>
  url: mysql://localhost:3306/<%= database_name %>_development
<% when "sqlite" -%>
  url: sqlite3:./db/<%= database_name %>_development.db
<% else -%>
  url: postgres://localhost:5432/<%= database_name %>_development
<% end -%>

session:
  key: <%= @name %>.session
  store: signed_cookie
  adapter: memory
  expires: 0

logging:
  severity: debug
  colorize: true
