name: <%= @name %>

# Set AMBER_SERVER_SECRET_KEY_BASE and AMBER_DATABASE_URL in production.
server:
  host: 0.0.0.0
  port: 3000
  secret_key_base: ""

database:
  url: ""

session:
  key: <%= @name %>.session
  store: signed_cookie
  adapter: memory
  expires: 0

logging:
  severity: info
  colorize: true
