require "../config/application"
require "../config/database"
require "../src/models/**"

# This file is for setting up your seeds.
#
# To run seeds execute `amber database seed`

# Example:
# User.create(name: "example", email: "ex@mple.com")
